---   
 <img align="left" width="75" height="75"  src="https://upload.wikimedia.org/wikipedia/en/c/c8/University_of_the_Punjab_logo.png"> 

<h1 align="center">Department of Data Science</h1>
<h1 align="center">Course: Tools and Techniques for Data Science</h1>

---
<h3><div align="right">Instructor: Muhammad Arif Butt, Ph.D.</div></h3>

<h1 align="center">Lecture 2.6</h1>

## _Python-Tuples.ipynb_
#### [Click me to learn more about Python Tuples](https://www.geeksforgeeks.org/python-tuples/)

## Learning agenda of this notebook
1. How to create tuples?
2. Proof of concepts: Tuples are heterogeneous, ordered, nested, immutable, and allow duplicate elements
3. Accessing elements of tuples?
4. Being immutable, you cannot add elements to a tuple (in list this is possible using append, extend, and insert)
5. Being immutable, you cannot remove elemenst from a tuple (in list this is possible using pop and remove methods)
6. Tuple concatenation and repetition
7. Slicing a tuple
8. Converting string object to tuple and vice-versa (using type casting, `split()` and `join()`)
9. Misc tuple methods
10. Misc Concepts

In [1]:
help(tuple)

Help on class tuple in module builtins:

class tuple(object)
 |  tuple(iterable=(), /)
 |
 |  Built-in immutable sequence.
 |
 |  If no argument is given, the constructor returns an empty tuple.
 |  If iterable is specified the tuple is initialized from iterable's items.
 |
 |  If the argument is a tuple, the return value is the same object.
 |
 |  Built-in subclasses:
 |      asyncgen_hooks
 |      UnraisableHookArgs
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

## 1. How to create Tuples?
- A Tuple in Python is an ordered collection of values, similar to a list.
- A tuple is created by placing comma separated values in parenthesis (or without prenthesis as well) 
- Like list, a tuple also allows us to store elements of different data types in one container.
- Unlike list, it is not possible to add, remove, or modify values in a tuple.
- Any data structure that cannot be modified after creation is called *immutable*, so you can think of tuples as immutable lists.
- Apart from this, every operation that we can perform on lists that do not modify them, can be performed on tuples as well.
- Advantages of using tuples over lists?
    - Program execution is faster when manipulating tuples
    - Tuples are more efficient, if you want to create an ordered list of objects that does not need modification
    - Tuples being immutable are used in Dictionaries as keys (which are immutable)

In [2]:
t1 = (1, 2, 3, 4, 5)   #tuple of integers
# You can also skip the parantheses `(` and `)` while creating a tuple. 
# Python automatically converts comma-separated values into a tuple.
t1 = 1, 2, 3, 4, 5
print("t1: ", t1)

t2 = (2.3, 5.6, 1.8)  #tuple of floats
print("t2: ", t2)

t3 = ('hello', 'this', 'F', 'good show') #tuple of strings
print("t3: ", t3)

t4 = (True, False, True)    # tuple of boolean values
print("t4: ", t4)


print("Type of t4 is: ", type(t4))

t1:  (1, 2, 3, 4, 5)
t2:  (2.3, 5.6, 1.8)
t3:  ('hello', 'this', 'F', 'good show')
t4:  (True, False, True)
Type of t4 is:  <class 'tuple'>

In [3]:
# creating empty tuple
t5 = ()
print("t5: ", t5)

t5:  ()

In [4]:
# to create a tuple with only one element is a bit tricky
t6 = (25,)       # note the comma, without Python will take it as int/float/string and not tuple
print("\nt6: ", t6)
print(type(t6))

t6:  (25,)
<class 'tuple'>

In [5]:
# Nested Tuple: a tuple can also have another tuple as an item
t1 = ("Arif", 30, 5.5, (10,'rauf'))
print(t1)

('Arif', 30, 5.5, (10, 'rauf'))

In [6]:
# Nested tuple: A tuple can also have another tuple, or list as an item
t1 = (1, "Hello", [8, 'OK', 6], (1, 2, 'BYE'), 5.5)
print("t1: ", t1)
print("Type of t1 is: ", type(t1))

t1:  (1, 'Hello', [8, 'OK', 6], (1, 2, 'BYE'), 5.5)
Type of t1 is:  <class 'tuple'>

## 2. Proof of concepts:

### a. Tuples are heterogeneous
- Tuples are heterogeneous, as their elements/items can be of any data type

In [7]:
t1 = ("Arif", 30, 5.5)
print("t1: ", t1)

t1:  ('Arif', 30, 5.5)

### b. Tuples are ordered
- Tuples are ordered means every element is associated by an index
- Every time you access tuple elements they will show up in same sequence. 
- Moreover, two tuples having same elements in different order are not same.

In [2]:
a = (1, 2, 3)
b = (2, 3, 1)
id(a), id(b), a is b, a == b

(140368902675776, 140368902672768, False, False)

#### c. Tuples are immutable
- Means once a tuple object is created, you CANNOT make changes to it and modify its elements

In [8]:
# Tuples are immutable, i.e., tuple elements cannot be changed
numbers = (10, 20, 30)
numbers[2] = 15    # this will generate an error

TypeError: 'tuple' object does not support item assignment

In [9]:
# Tupple however can be reassigned
numbers = (10, 20, 30)
numbers = (1, 2, 3)  # A tupple can be reassigned
numbers

(1, 2, 3)

In [10]:
# A list within a tuple is still mutable
my_tuple = (4, 2, 3, [6, 5])
my_tuple[3][0] = 9         # will work fine
my_tuple

(4, 2, 3, [9, 5])

#### d. Tuples can have duplicate elements

In [11]:
# Tuples allow duplicate elements
names = ('Arif', 'Rauf', 'Hadeed', 'Arif', 'Mujahid')
print(names)

('Arif', 'Rauf', 'Hadeed', 'Arif', 'Mujahid')

#### e. Tuples can be nested to arbitrary depth
- You can have tuples within tuples and that can be done to an arbitrary depth. You are only restricted to the available memory on your system

In [ ]:
# A tuple having two sub-tuples within it
a = (1,2,3,(4,5),(6,7,8,9),10,11)
# A tuple having a sub-tuple, which is further having a sub-tuple and that again having a subtuple
b = (1,2,3,(4,5,(6,7,8,(9,10,11))))
a, b

#### f. Packing and Unpacking Tuples

In [12]:
# you can assign individual elements of tuples to string variables
msg = ('learning', 'is', 'fun', 'with', 'Arif')
a, b, c, d, e = msg # the number of variables on the left must match the length of tuple
print (a, c, e)
print(type(a))

learning fun Arif
<class 'str'>

### 3. Different ways to access elements of a tuple
- Since tuple like list is of type sequence, and any component within a sequence can be accessed by entrying an index within square brackets. So naturally this must work for tuple as well
- Similarly, if we want to find out the index of a specific item/character, we can use the `index()` method of tuple class

In [ ]:
#You can access elements of tuple using indexing which starts from zero
t1 = ("Arif", 30, 5.5, (10,'rauf'))
print(t1[3])

#accessing Nested tuple element
print(t1[0][2])              #accessing third element of tuple at index 0
print(t1[3][1])              #accessing second element of Nested tuple

In [ ]:
#Negative indexing starts looking at the tuple from the right hand side
t1 = ("Arif", 30, 5.5, (10,'rauf'))
print(t1[-1])                #accessing last element
print(t1[-2])                #accessing second last element

In [13]:
help(t1.index)

Help on built-in function index:

index(value, start=0, stop=9223372036854775807, /) method of builtins.tuple instance
    Return first index of value.

    Raises ValueError if the value is not present.

In [14]:
# index(value) method is used when you know the tuple element and wants to get its index
# index(value) method returns the index of the first matched item with its only argument
mytuple = (27, 4.5, 'arif', 64, 'hadeed', 19, 'arif')
print("\nmytuple: ", mytuple)
print("mytuple.index(3): ", mytuple.index('arif'))

mytuple:  (27, 4.5, 'arif', 64, 'hadeed', 19, 'arif')
mytuple.index(3):  2

### 4. Slicing Tuples
- Like anyother sequence object we can perform slicing with tuples as well.
- Slicing is the process of obtaining a portion of a tuple by using its indices.
- Given a tuple, we can use the following template to slice it and obtain a sublist:
```
mytuple[start:end:step]
```

- **start** is the index from where we want the subtuple to start.If start is not provided, slicing starts from the beginning.
- **end** is the index where we want our subtuple to end (not inclusive in the subtuple). If end is not provided, slicing goes till the last element of the tuple.
- **step** is the step through which we want to skip elements in the tuple. The default step is 1, so we iterate through every element of the tuple.

In [ ]:
t1 = ('a','b','c','d','e','f','g','h','i')
t1

In [ ]:
t1[::]

In [ ]:
t1[3:]

In [ ]:
t1[:4]

In [ ]:
t1[2:5]

In [ ]:
t1[:-2]

In [ ]:
t1[-1]

In [ ]:
# Slicing by using strides
print(t1[::])  # A default step of 1
print(t1[::1])  # A step of 1
print(t1[::2])  # A step of 2
print(t1[::3])  # A step of 3

In [ ]:
# Reverse slicing
print(t1[::-1]) # Take 1 step back each time
print(t1[5:1:-1]) # Take 1 step back each time
#if start is less than end in case of a negative step, it will return empty string
print(t1[2:10:-1])
print(t1[::-2]) # Take 2 steps back

In [ ]:
# You CANNOT use slice operator on the left side of assignment as tuple is immutable
t1 = (1, 2, 3, 4, 5, 6, 7)
#t1[2:4] = ['a', 'b', 'c']  # will generate an error as 'tuple' object does not support item assignment

## 5. Tuple Concatenation and Repetition
- The `+` operator is used to concatenate two or more tuples
- The `*` operator is used to repeat or replicate

### a. Concatenating Tuples

In [15]:
# Add some elements to the end of an existing tuple using concatenation operator
a = (1,2,3)
b = a + (4,5)
# Add some elements to the beginning of an existing tuple using concatenation operator
c = (0,) + b
a, b, c

((1, 2, 3), (1, 2, 3, 4, 5), (0, 1, 2, 3, 4, 5))

In [16]:
# use + operator to concatenate two tuples
food_items1 = ('fruits', 'bread', 'veggies')
food_items2 = ('meat', 'spices', 'burger')
food = food_items1 + food_items2
print(food)

('fruits', 'bread', 'veggies', 'meat', 'spices', 'burger')

In [17]:
# You can concatenate two heterogeneous lists
t1 = (5, 3.4, 'hello')
t2 = (31, 9.7, 'bye')
t3 = t1 + t2
print(t3)

(5, 3.4, 'hello', 31, 9.7, 'bye')

In [18]:
num1 = (1,2,3)
num2 = num1 + (4, 5, 6, (7, 8))
print (num2)

(1, 2, 3, 4, 5, 6, (7, 8))

### b. Replicating Tuples

In [19]:
# use tuple * n syntax to create large tuples by repeating the tuple n times
name = ('Arif', 'Hadeed', 'Mujahid')
a = name * 3
print(a)

('Arif', 'Hadeed', 'Mujahid', 'Arif', 'Hadeed', 'Mujahid', 'Arif', 'Hadeed', 'Mujahid')

In [20]:
#tuple of 100 A's
buf = ('A',)
newbuf = buf * 100
print(newbuf)
type(newbuf)

('A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A')

tuple

## 6. Being immutable, you cannot add elements to a tuple (in list this is possible using `append`, `extend`, and `insert`)

In [ ]:
myfamily = ("Farooq", 'Rauf', 'Hadeed')
print("\n myfamily tuple: ", myfamily)
# myfamily.insert(2,'Arif') # will generate an error as tuple object has no attribute 'insert'

## 7. Being immutable, you cannot remove elemenst from a tuple (in list this is possible using `pop` and `remove` methods)

In [21]:
tuple1 = ('learning', 'is', 'fun', 'with', 'arif', 'butt')
print("tuple1: ", tuple1)
#You cannot delete items from a tuple using del keyword
#del tuple1[3]    # will generate an error as tuple object doesn't support item deletion

#You can delete an entire tuple object using del keyword
del tuple1
# print(tuple1)

tuple1:  ('learning', 'is', 'fun', 'with', 'arif', 'butt')

## 8. Converting String object to List and vice-versa

### a. Type Casting

In [23]:
# convert a string into tuple using tuple()
str1 = 'Learning is fun'    #this is a string
print(type(str1))
print("Original string: ", str1, "and its type is:  ", type(str1))
t1 = tuple(str1)
print("t1: ", t1, "and its type is:  ", type(t1))

<class 'str'>
Original string:  Learning is fun and its type is:   <class 'str'>
t1:  ('L', 'e', 'a', 'r', 'n', 'i', 'n', 'g', ' ', 'i', 's', ' ', 'f', 'u', 'n') and its type is:   <class 'tuple'>

### b. Use `t1.split()` to Split a Tuple into Strings
- Used to tokenize a string based on some delimiter, which can be stored in a tuple
- It returns a list, so we need to type cast the returned object to a tuple

In [ ]:
str1 = ""
help(str1.split)

In [24]:
str1 = 'Learning is fun'    #this is a string
t1 = tuple(str1.split(' '))
t1, type(t1)

(('Learning', 'is', 'fun'), tuple)

In [25]:
str2 = "Data Science is GR8 Degree"    #this is a string
t2 = str2.split('c')
t2, type(t2)

(['Data S', 'ien', 'e is GR8 Degree'], list)

### c. Use `str.join()` to Join Strings into a Tuple
- It is the reverse of `str.split()` method, and is used to joing multiple strings by inserting the string in between on which this method is called

In [26]:
str = ""
help(str.join)

Help on built-in function join:

join(iterable, /) method of builtins.str instance
    Concatenate any number of strings.

    The string whose method is called is inserted in between each given string.
    The result is returned as a new string.

    Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'

In [27]:
t1 = ('This', 'is', 'getting', 'more', 'and', 'more', 'interesting')
t1

('This', 'is', 'getting', 'more', 'and', 'more', 'interesting')

In [29]:
str2 = ' '.join(t1)
str2, type(str2)

('This is getting more and more interesting', str)

In [30]:
delimiter = " # "
str3 = delimiter.join(t1)
print(str3)
print(type(str3))

This # is # getting # more # and # more # interesting
<class 'str'>

## 9. Misc Tuple methods in Python
- You cannot call `sort()` and `reverse` on a tuple being immutable
- Tuples have just two built-in methods: `count` and `index`

### a. The `t1.count()` method
- The `t1.count()` method takes exactly one argument and returns the number of times a that value occurs in a tuple

In [33]:
t1 = ()
help(t1.count)

Help on built-in function count:

count(value, /) method of builtins.tuple instance
    Return number of occurrences of value.

In [34]:
t1 = (3, 8, 1, 6, 0, 8, 4)
rv = t1.count(8)
print(rv)

2

### b. The `t1.index()` method
- The `t1.index()` method takes the value and returns the first index where that value resides in the tuple

In [35]:
t1 = ()
help(t1.index)

Help on built-in function index:

index(value, start=0, stop=9223372036854775807, /) method of builtins.tuple instance
    Return first index of value.

    Raises ValueError if the value is not present.

In [36]:
t1 = (3, 8, 1, 6, 0, 8, 4)
rv = t1.index(1)
print(rv)

2

### c. Some Built-in Functions that can be used on Tuples

In [37]:
t1 = (3, 8, 1, 6, 0, 8, 4)
print("length of list: ", len(t1))
print("max element in list: ", max(t1))
print("min element in list: ",min(t1))
print("Sum of element in list: ",sum(t1))

# Membership (in) operator
rv1 = 9 in t1
print(rv1)

rv2 = "ARIF" in t1
print(rv2)

length of list:  7
max element in list:  8
min element in list:  0
Sum of element in list:  30
False
False

## 10. Misc Concepts

### a. Use of  `in` Operator on Tuples

In [38]:
tuple_num = (3, 8, 1, 6, 0, 8, 4)
rv1 = 9 in tuple_num
print(rv1)

rv2 = 9 not in tuple_num
print(rv2)


tuple_names = ["XYZ", "ABC", "MNO", "ARIF"]
rv3 = "ARIF" in tuple_names
print(rv3)

False
True
True

### b. Comparing objects and values

In [39]:
# in case of strings, both a and b refers to the same memory location containing string 'hello'
a = 'hello'
b = 'hello'
id(a), id(b)

(140649492087088, 140649492087088)

In [41]:
# in case of tuple, both a and b refers to two different objects in the memory having same values
x = ('hello',) # Note the comma at the end to make it a tuple with single element
y = ('hello',)
id(x), id(y)

(140649492032912, 140649492033296)

In [42]:
x = ('hello', )
y = ('hello', )
print (x is y) # is operator is checking the memory address (ID) of two typles
print (x == y) # == operator is checking the contents of two tuples

False
True

In [43]:
x = 'hello'
y = 'hello'
print (x is y) # is operator is checking the memory address (ID) of two strings
print (x == y) # == operator is checking the contents of two strings

True
True

### c. Simple Assignment (aliasing) vs Shallow Copy vs Deep Copy

#### Making a Copy of an Object using Assignment `=` Operator
- In Python, we use `=` operator to create a copy of an object. It doesnot create a new object. 
- It only creates a new variable that shares the reference of the original object.

In [44]:
old_t1 = [[1, 2, 3], [4, 5, 6], [7, 8, 'a']]
new_t1 = old_t1

# Both variables point to same memory object, so have the same ID
print('ID of old_t1:', id(old_t1))
print('ID of new_t1:', id(new_t1))

ID of old_t1: 140649490981696
ID of new_t1: 140649490981696

#### Making a Copy of an Object using `copy.copy()` Method
- Shallow copy creates a new object, however, it doesn't create a copy of nested objects, instead it just copies the reference of nested objects. 
- This means, a copy process does not recurse or create copies of nested objects itself.

In [45]:
import copy
old_t1 = [[1, 2, 3], [4, 5, 6], [7, 8, 'a']]
new_t1 = copy.copy(old_t1)

# Both variables point to different memory object, having same references of original object elements
print('ID of old_t1:', id(old_t1))
print('ID of new_t1:', id(new_t1))

ID of old_t1: 140649492127552
ID of new_t1: 140649491478080

#### Making a Copy of an Object using `copy.deepcopy()` Method
- Deep copy creates a new object and recursively creates independent copy of original object and all its nested objects.

In [46]:
import copy
old_t1 = [[1, 2, 3], [4, 5, 6], [7, 8, 'a']]
new_t1 = copy.deepcopy(old_t1)

# Both variables point to different memory object, having same references of original object elements
print('ID of old_t1:', id(old_t1))
print('ID of new_t1:', id(new_t1))

ID of old_t1: 140649490981888
ID of new_t1: 140649490981824

## Check your Concepts

Try answering the following questions to test your understanding of the topics covered in this notebook:

1. How tuples are different from list?
2. Can you add or remove elements in a tuple?
3. How do you create a tuple with just one element?
4. How do you convert a tuple to a list and vice versa?
5. How to create a nested tuple?
6. How to find a min, max value from a tuple?
7. How to compare two tuples, without iteration? (Hint: cmp)
8. How to find the index of a specific element of a tuple?
9. How to found the count of occurrence of element in Python Tuple?
10. How to delete Tuple in Python ?