<div style="background-color:rgba(50, 81, 100, .9); font-family: 'Bebas Neue'; padding:10px 0;  margin-top:2px; margin-bottom:2px">

   
 <img align="left" width="75" height="75"  src="https://upload.wikimedia.org/wikipedia/en/c/c8/University_of_the_Punjab_logo.png"  > 

   
<h1><div style="text-align: center"> Department of Data Science</div>
<div style="text-align: center"> University of the Punjab, Lahore</div></h1>


<h1><div style="text-align: center">Course Title: Tools and Techniques for Data Science</div></h1>

   <div style="text-align: right; margin-right: 5px; font-size:18px"> <em><strong>Muhammad Arif Butt, Ph.D.</strong></em></div>

<h2><div style="text-align: center"> " <u>Lecture 3.2</u> "</div></h2>

## _read_json.ipynb_
#### [Click me to learn more about Reading JSON files](https://www.geeksforgeeks.org/read-json-file-using-python/)

### Learning agenda of this notebook
1. Reading the JSON file.
2. Challenges with reading JSON files.
 - Reading JSON files written as records.
3. JSON Library
 - Reading Nested JSON
 - Filter JSON
 - Wrting JSON files

## 1- Read a JSON file
The full-form of JSON is JavaScript Object Notation. It means that a script (executable) file which is made of text in a programming language, is used to store and transfer the data. It is primarily used for transmitting data between a web application and a server.

### a- Read a simple json file

In [15]:
# import the pandas library
import pandas as pd

# read the json file using read_json method of pandas library
data = pd.read_json('datasets/simple.json')

# print the top rows of the dataframe
data.head()

        name  age grade
0      Andew   12     A
1  Mohtasham   18     B
2    Clinton   11     A
3      Drake   12     C
4     Elisha   13     B

## 2- Challenges with reading JSON files

### JSON records
Some of the json files are written as records i.e each json line is a separate json object.
For example:

{ 'name' : 'Ahsan', 'roll_no' : '100' } # line 1

{ 'name' : 'Ayesha' , 'roll_no' : '101' } # line 2

In [3]:
# If we try to read these type of files (json records) direclty, you will get an error

# for example, using the below method, 
# reading the data from json records will give error

data_with_records = pd.read_json('datasets/simple_records.json')

In [16]:
# to resolve this error, you need to pass the parameter lines=True

# read json files with records 
data_with_records = pd.read_json('datasets/simple_records.json',lines=True)

# view record
data_with_records.head()

        name  age grade
0      Andew   12     A
1  Mohtasham   18     B
2    Clinton   11     A
3      Drake   12     C
4     Elisha   13     B

## 3- JSON library

### a- Nested JSON files using JSON library
Most of the json files are nested and we cannot directly import them into a dataframe. We first need to clean and filter the json file in order to convert it into a dataframe.

In [ ]:
# Can't read nested json in pandas
data = pd.read_csv('datasets/nested.json')

In [17]:
# to read nested json file, we need to import json module

# importing the json module of standard library
import json

# Json nested file can be read just like a text file
# open the file using with statement and open function
with open('datasets/nested.json', 'r') as f :

# use the json.load method to read the nested json file
    my_json_data = json.load(f)

print(my_json_data)

[{'student_roll_no': 101, 'details': {'name': 'Andew', 'age': 12, 'grade': 'A'}}, {'student_roll_no': 102, 'details': {'name': 'Mohtasham', 'age': 18, 'grade': 'B'}}, {'student_roll_no': 103, 'details': {'name': 'Clinton', 'age': 11, 'grade': 'A'}}, {'student_roll_no': 104, 'details': {'name': 'Drake', 'age': 12, 'grade': 'C'}}, {'student_roll_no': 105, 'details': {'name': 'Elisha', 'age': 13, 'grade': 'B'}}, {'student_roll_no': 106, 'details': {'name': 'Farhan', 'age': 22, 'grade': 'C'}}, {'student_roll_no': 107, 'details': {'name': 'Mohsin', 'age': 11, 'grade': 'A'}}, {'student_roll_no': 108, 'details': {'name': 'Bilal', 'age': 19, 'grade': 'A'}}, {'student_roll_no': 109, 'details': {'name': 'Ishaan', 'age': 10, 'grade': 'D'}}, {'student_roll_no': 110, 'details': {'name': 'Jack', 'age': 9, 'grade': 'B'}}]

#### Pretty Print (pprint)
The pprint module provides a capability to “pretty-print” arbitrary Python data structures in a well-formatted and more readable way

In [18]:
# use pprint or (pretty print) to print the data in the structured format
from pprint import pprint
pprint(my_json_data)

[{'details': {'age': 12, 'grade': 'A', 'name': 'Andew'},
  'student_roll_no': 101},
 {'details': {'age': 18, 'grade': 'B', 'name': 'Mohtasham'},
  'student_roll_no': 102},
 {'details': {'age': 11, 'grade': 'A', 'name': 'Clinton'},
  'student_roll_no': 103},
 {'details': {'age': 12, 'grade': 'C', 'name': 'Drake'},
  'student_roll_no': 104},
 {'details': {'age': 13, 'grade': 'B', 'name': 'Elisha'},
  'student_roll_no': 105},
 {'details': {'age': 22, 'grade': 'C', 'name': 'Farhan'},
  'student_roll_no': 106},
 {'details': {'age': 11, 'grade': 'A', 'name': 'Mohsin'},
  'student_roll_no': 107},
 {'details': {'age': 19, 'grade': 'A', 'name': 'Bilal'},
  'student_roll_no': 108},
 {'details': {'age': 10, 'grade': 'D', 'name': 'Ishaan'},
  'student_roll_no': 109},
 {'details': {'age': 9, 'grade': 'B', 'name': 'Jack'}, 'student_roll_no': 110}]

### b- Iterate through json file and filter data

In [19]:
# We saw that data in the file is in json list form.
# let's try to access first element of the list using the zeroth index

data_0 = my_json_data[0]
data_0

# this is how a first element of the list look like

{'student_roll_no': 101, 'details': {'name': 'Andew', 'age': 12, 'grade': 'A'}}

In [20]:
# now to access the age, access the detail part 
data_0['details']

{'name': 'Andew', 'age': 12, 'grade': 'A'}

In [21]:
# now just to access the aga, use detail, age
data_0['details']['age']

12

In [22]:
# using the above method, you can iterate through json file and can get ages of aa the records

# iterate through the json data
for data in my_json_data:
    print(data['details']['age'])

12
18
11
12
13
22
11
19
10
9

### filter data
Suppose, you want to Create a new json file contains the age and name of the people whose age is greater than 15.

In [23]:
# first step is to create a new empty list to store the filtered data
filtered_data = []

# in this list, we are going to store records in the form of dictionary

# iterate through the json data
for data in my_json_data:
    
    # create new empty dictionary
    filtered_variable = {}
    
    # check for the condition
    if data['details']['age'] > 15:
        # if condition satisfies, store the age and name
        filtered_variable['age'] = data['details']['age']
        filtered_variable['name']= data['details']['name']
        filtered_data.append(filtered_variable)

filtered_data

[{'age': 18, 'name': 'Mohtasham'},
 {'age': 22, 'name': 'Farhan'},
 {'age': 19, 'name': 'Bilal'}]

### Write filtered data to the new json file

In [24]:
# put the filtered data into the new json file

# open the file in write mode using with statement
with open('datasets/filtered.json','w') as f:
    
    json.dump(filtered_data, f, indent=4)