---   
 <img align="left" width="75" height="75"  src="https://upload.wikimedia.org/wikipedia/en/c/c8/University_of_the_Punjab_logo.png"> 

<h1 align="center">Department of Data Science</h1>
<h1 align="center">Course: Tools and Techniques for Data Science</h1>

---
<h3><div align="right">Instructor: Muhammad Arif Butt, Ph.D.</div></h3>

<h1 align="center">Lecture 2.8</h1>

## _dictionary-operations.ipynb_
#### [Click me to learn more about Python Dictionaries](https://www.geeksforgeeks.org/python-dictionary/)

### Learning agenda of this notebook
- Dictionaries are another type of composite data types, and are also a collection of objects much like Lists and Tuples.
- Dictionaries are used to store elements in key:value pairs and created using curly braces. Each key-value pair is separated using comma. The key and value themselves are separated by a colon 
- Values can be heterogeneous, while keys can be int, string, or tuple. 
- Allows duplicate values but keys must be unique. 
- From Python version 3.7 onwards, dictionaries are ordered. - The items of a dictionary are not indexed like List and Tuples.


1. How to create dictionaries?
2. Proof of concepts
3. Dictionary operations using keys inside [ ] operator
4. Dictionary operations using dictionary methods
5. Misc dictionary methods
6. Dictionary, tuple and list conversions
7. Looping through keys and values of dictionary

### 1. How to create Dictionaries?

In [15]:
# A dictionary with string keys, and integer values, showing age of person
dict1 = {
    'arif':51, 
    'rauf':52, 
    'hadeed':20
}
dict1

{'arif': 51, 'rauf': 52, 'hadeed': 20}

In [37]:
# A dictionary with integer keys, and string values, showing a symbol table generated by compiler
dict2 = {
    2580:'var1', 
    2582:'var2', 
    2586:'var3'
}
dict2

{25.8: 'var1', 2582: 'var2', 2586: 'var3'}

In [17]:
# dictionary with mixed keys
dict3 = {
    'name': 'kakamanna', 
    1: 10,
    'abc':25,
    33: 'xyz'
}
dict3

{'name': 'kakamanna', 1: 10, 'abc': 25, 33: 'xyz'}

In [ ]:
# creating dictionary with values using dict()
dict4 = dict({1: 'hello', 2: 'bye'})
dict4

In [19]:
# Creating an empty dictionary
dict5 = dict()
dict5, type(dict5), id(dict5)

({}, dict, 140571427674368)

In [20]:
# other way to create empty dictionary
dict6 = {}
dict6

{}

In [24]:
# A list of two object tuples can also be used to create dictionaries
dict7 = dict([('name', 'arif'), ('age',51), ('city', 'Lahore')])
dict7

{'name': 'arif', 'age': 51, 'city': 'Lahore'}

### 2. Proof of concepts

#### a. Dictionary allows Duplicate Values

In [32]:
# Duplicate values are allowed
d1 = {'name1' : 'kakamanna',
     'name2' : 'kakamanna'
     }

#### b. Dictionary DOESNOT allows Duplicate Keys

In [35]:
# Duplicate keys are not allowed
# This will not raise an error, but will overwrite the value corresponding to the key
d1 = {'name' : 'kakamanna',
     'name' : 'arif'
     }
d1

{'name': 'arif'}

#### c. Keys inside Dictionaries can be of immutable data types
- The keys of a dictionary has to be of immutable data type (number, string, tuple)

In [28]:
# Tuple being immutable can be used as a key
d1 = {'nam':'kakamanna', 
      (60, 78, 83): 'marks' 
     }
d1

{'nam': 'kakamanna', (60, 78, 83): 'marks'}

In [29]:
# List being mutable cannot be used as a key
d1 = {'nam':'kakamanna', 
      [60, 78, 83]:'marks' 
     }
d1

TypeError: unhashable type: 'list'

#### d. Values inside Dictionaies can be of mutable/immutable data type

In [39]:
# List being mutable can be used as a value
d1 = {'nam':'kakamanna', 
      'marks':[60,78,83] 
     }
d1

{'nam': 'kakamanna', 'marks': [60, 78, 83]}

In [40]:
# Tuple being immutable can also be used as a value
d1 = {'nam':'kakamanna', 
      'marks': (60,78,83) 
     }
d1

{'nam': 'kakamanna', 'marks': (60, 78, 83)}

#### e. Dictionaries are heterogeneous
- The keys of a dictionary can be of integer, string, or tuple type
- The values of a dictionary can be of any data type

In [36]:
dict3 = {
    'name': 'kakamanna', 
    1: 10,
    'abc':25,
    33: 'xyz'
}
dict3

{'name': 'kakamanna', 1: 10, 'abc': 25, 33: 'xyz'}

#### f. Dictionaries can be nested to arbitrary depth

In [ ]:
# Creating a Nested Dictionary
dict7 = {'name':'arif', 
         'occupation':'teaching',
        'address':{'house#' : 131, 'area' : 'model town', 'city' : 'lahore'},
         'phone': '03214456454'
        }
 
dict7

#### g. Dictionaries from Python 3.7 onward are ordered
- From Python 3.7 onwards, dictionaries are guranteed to be in insertion ordered. i.e., every time you access dictionary elements they will show up in same sequence. 
- However, like string, list, and tuple, the elements of a dictionary are not associated by an index
- Moreover, two dictionaries having same key-value pairs, but in different order are not same.

In [43]:
d1 = {
    'arif':51, 
    'rauf':52, 
    'hadeed':20
}
d1
d2 = {
    'rauf':52, 
    'hadeed':20,
    'arif':51
}
id(d1), id(d2)

(140571426591680, 140571426697984)

### 3. Dictionary operations using keys inside [ ] brackets

In [48]:
# Create a simple dictionary for these operations
d1 = {
    'name':'kakamanna', 
    'age':22, 
    'address':'Johar Town', 
    'marks':[60, 75, 80]
}
d1

{'name': 'kakamanna',
 'age': 22,
 'address': 'Johar Town',
 'marks': [60, 75, 80]}

#### a. Accessing Elements

In [49]:
# You can access value associated with a key using [] brackets by mentioning the corresponding key inside
d1['address']

'Johar Town'

#### b. Modifying Elements

In [50]:
# You can  modify value associated with a key using [] brackets and assignment statement
d1['address'] = 'Model Town'
d1

{'name': 'kakamanna',
 'age': 22,
 'address': 'Model Town',
 'marks': [60, 75, 80]}

#### c. Adding New Elements

In [51]:
# You can  add a new key:value pair to a dictionary associated with a key using [] brackets by mentioning the corresponding key inside
d1['phone'] = '03214456876'
d1

{'name': 'kakamanna',
 'age': 22,
 'address': 'Model Town',
 'marks': [60, 75, 80],
 'phone': '03214456876'}

#### d. Deleting Elements

In [53]:
# To delete a key:value pair from a dictionary use the del keyword
del d1['age']
d1

{'name': 'kakamanna',
 'address': 'Model Town',
 'marks': [60, 75, 80],
 'phone': '03214456876'}

In [ ]:
# Using the del keyword, specific values from a dictionary as well as the whole dictionary can be deleted.
del d1
#print(d1)  # will generate an error now

### 4. Dictionary operations using methods

#### a. Accessing Elements using items(), keys() and values() methods

In [61]:
# Create a simple dictionary for these operations
d1 = {
    'name':'kakamanna', 
    'age':22, 
    'address':'Johar Town', 
    'marks':[60, 75, 80]
}
d1
# The dictionary method get() is passed the key as argument and it returns the corresponding value
d1.get('marks')

[60, 75, 80]

In [59]:
# The dictionary method items() returns all the key-value pairs of a dictionary as a two object tuple
d1.items()

dict_items([('name', 'kakamanna'), ('age', 22), ('address', 'Johar Town'), ('marks', [60, 75, 80])])

In [63]:
# The dictionary method keys() returns all the keys of a dictionary
d1.keys()

dict_keys(['name', 'age', 'address', 'marks'])

In [58]:
# The dictionary method values() returns all the values of a dictionary
# If a value occurs multiple times in the dictionary, it will appear that many times
d1.values()

dict_values(['kakamanna', 22, 'Johar Town', [60, 75, 80]])

In [83]:
#To access the value of a key in a nested directory, use indexing [] syntax
d2 = {'name':'arif', 
      'occupation':'teaching',
      'address':{'house#' : 131, 
                 'area' : 'model town', 
                 'city' : 'lahore'
                }
        }
d2
print("\nA nested directory d2: ", d2)
print("d2['name']: ", d2['name'])
print("d2['address']: ", d2['address'])
print("d2['address']['area']: ", d2['address']['area'])

A nested directory d2:  {'name': 'arif', 'occupation': 'teaching', 'address': {'house#': 131, 'area': 'model town', 'city': 'lahore'}}
d2['name']:  arif
d2['address']:  {'house#': 131, 'area': 'model town', 'city': 'lahore'}
d2['address']['area']:  model town

#### b. Modifying Elements using update() method

In [90]:
# Create a simple dictionary for these operations
d1 = {
    'name':'kakamanna', 
    'age':22, 
    'address':'Johar Town', 
    'marks':[60, 75, 80]
}
d1

{'name': 'kakamanna',
 'age': 22,
 'address': 'Johar Town',
 'marks': [60, 75, 80]}

In [91]:
#can use update method to update the value corresponding to an existing key
d1.update({'name':'Arif Butt'})
d1
d1

{'name': 'Arif Butt',
 'age': 22,
 'address': 'Johar Town',
 'marks': [60, 75, 80]}

#### c. Adding New Elements using update() method

In [87]:
# Create a simple dictionary for these operations
d1 = {
    'name':'kakamanna', 
    'age':22, 
    'address':'Johar Town', 
    'marks':[60, 75, 80]
}
d1

{'name': 'kakamanna',
 'age': 22,
 'address': 'Johar Town',
 'marks': [60, 75, 80]}

In [88]:
#can use update method to add a new key:value pair, or you can merge two dictionaries
d1.update({'city':'Lahore'})
d1

{'name': 'kakamanna',
 'age': 22,
 'address': 'Johar Town',
 'marks': [60, 75, 80],
 'cell': '03214432145',
 'city': 'Lahore'}

#### d. Deleting Elements using popitem(), pop() and clear() methods

In [74]:
# Create a simple dictionary for these operations
d1 = {
    'name':'kakamanna', 
    'age':22, 
    'address':'Johar Town', 
    'marks':[60, 75, 80]
}
d1

{'name': 'kakamanna',
 'age': 22,
 'address': 'Johar Town',
 'marks': [60, 75, 80]}

In [75]:
# The dictionary method popitem() returns the last inserted key-value pair from the dictionary as a tuple
# Moreover, the corresponding key-value pair is also removed from the dictionary
d1.popitem()

('marks', [60, 75, 80])

In [76]:
d1

{'name': 'kakamanna', 'age': 22, 'address': 'Johar Town'}

In [77]:
# The dictionary method pop(key) returns the value of the key passed as its required argument
# Moreover, the corresponding key-value pair is also removed from the dictionary
d1.pop('name')

'kakamanna'

In [78]:
d1

{'age': 22, 'address': 'Johar Town'}

In [89]:
# clear() removes all the items from a dictionary 
d1.clear()
print ("After clear() d1: ", d1)

After clear() d1:  {}

In [ ]:
# In Python Dictionary, deletion of keys can be done by using the del keyword. 
# Using the del keyword, specific values from a dictionary as well as the whole dictionary can be deleted.

#this will delete the whole directory
del d1
#print(d1)  # will generate an error now

### 5. Misc Dictionary methods

In [93]:
# Create a simple dictionary for these operations
d1 = {'name':'kakamanna', 
      'age':22, 
      'address':'Johar Town', 
      'marks':[60, 75, 80]
     }
print("Original directory: ", d1)

Original directory:  {'name': 'kakamanna', 'age': 22, 'address': 'Johar Town', 'marks': [60, 75, 80]}

In [95]:
# len() method returns the length of dictionary
len(d1)

4

In [96]:
# Membership operators
print ("\nage in d1 returns:  ", 'age' in d1)
print ("name not in d1 returns:  ", 'name' not in d1)
print ("city not in d1 returns:  ",'city' not in d1)

age in d1 returns:   True
name not in d1 returns:   False
city not in d1 returns:   True

### 6. Dictionary, tuple and list conversions

In [107]:
# Create a simple dictionary for these operations
d1 = {
    'Name': 'Kakamanna', 
    'Sex': 'Male', 
    'Age': 23, 
    'Height': 6.1, 
    'Occupation': 'Student'
}
print("Original directory: ", d1)
print("type(d1): ", type(d1))

Original directory:  {'Name': 'Kakamanna', 'Sex': 'Male', 'Age': 23, 'Height': 6.1, 'Occupation': 'Student'}
type(d1):  <class 'dict'>

In [103]:
#converting dictionary key-value pairs into tuple
t1 = tuple(d1.items())
print("\n", t1)
print(type(t1))

 (('Name', 'Kakamanna'), ('Sex', 'Male'), ('Age', 23), ('Height', 6.1), ('Occupation', 'Student'))
<class 'tuple'>

In [105]:
#converting dictionary keys only into tuple
t1 = tuple(d1.keys())
print("\n", t1)
print(type(t1))

 ('Name', 'Sex', 'Age', 'Height', 'Occupation')
<class 'tuple'>

In [106]:
#converting dictionary values only into list
mylist = list(d1.keys())
print("\n", mylist)
print(type(mylist))

 ['Name', 'Sex', 'Age', 'Height', 'Occupation']
<class 'list'>

### 7. Looping through keys and values of dictionary

In [113]:
# Create a simple dictionary for these operations
d1 = {
    'Name': 'Kakamanna', 
    'Sex': 'Male', 
    'Age': 23, 
    'Height': 6.1, 
    'Occupation': 'Student'
}
print("Original directory: ", d1)

Original directory:  {'Name': 'Kakamanna', 'Sex': 'Male', 'Age': 23, 'Height': 6.1, 'Occupation': 'Student'}

In [114]:
# Iterating through a dictionary keys
print("\nIterating through a dictionary keys:")
for i in d1.keys():
    print(i)

Iterating through a dictionary keys:
Name
Sex
Age
Height
Occupation

In [116]:
# Iterating through the values
print("\nIterating through a dictionary values:")
for i in d1.values():
    print(i)

Iterating through a dictionary values:
Kakamanna
Male
23
6.1
Student

In [118]:
# Iterating through the key-value pairs
print("\nIterating through a dictionary key:value pairs:")
for i in d1.items():
    print(i)

Iterating through a dictionary key:value pairs:
('Name', 'Kakamanna')
('Sex', 'Male')
('Age', 23)
('Height', 6.1)
('Occupation', 'Student')

## Check your Concepts

Try answering the following questions to test your understanding of the topics covered in this notebook:


1. What is a dictionary in Python?
2. How do you create a dictionary?
3. What are keys and values?
4. How do you access the value associated with a specific key in a dictionary?
5. What happens if you try to access the value for a key that doesn't exist in a dictionary?
6. What is the `.get` method of a dictionary used for?
7. How do you change the value associated with a key in a dictionary?
8. How do you add or remove a key-value pair in a dictionary?
9. How do you access the keys, values, and key-value pairs within a dictionary?