---   
 <img align="left" width="75" height="75"  src="https://upload.wikimedia.org/wikipedia/en/c/c8/University_of_the_Punjab_logo.png"> 

<h1 align="center">Department of Data Science</h1>
<h1 align="center">Course: Tools and Techniques for Data Science</h1>

---
<h3><div align="right">Instructor: Muhammad Arif Butt, Ph.D.</div></h3>

<h1 align="center">Lecture 2.8</h1>

## _Python-Dictionaries.ipynb_
#### [Click me to learn more about Python Dictionaries](https://www.geeksforgeeks.org/python-dictionary/)

## Learning agenda of this notebook
1. How to create dictionaries?
2. Proof of concepts
3. Accessing elements of a dictionary
4. Adding/Modifying elements in a dictionary
5. Removing elements from a dictionary
6. Dictionary, tuple and list conversions
7. Misc Dictionary methods

In [2]:
help(dict)

Help on class dict in module builtins:

class dict(object)
 |  dict() -> new empty dictionary
 |  dict(mapping) -> new dictionary initialized from a mapping object's
 |      (key, value) pairs
 |  dict(iterable) -> new dictionary initialized as if via:
 |      d = {}
 |      for k, v in iterable:
 |          d[k] = v
 |  dict(**kwargs) -> new dictionary initialized with the name=value pairs
 |      in the keyword argument list.  For example:  dict(one=1, two=2)
 |
 |  Built-in subclasses:
 |      StgDict
 |
 |  Methods defined here:
 |
 |  __contains__(self, key, /)
 |      True if the dictionary has the specified key, else False.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the dict keys.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(...)
 |      D.__sizeof__() -> size of D in memory, in bytes
 |
 |  clear(...)
 |      D.clear() -> None.  Remove all items from D.
 |
 |  copy(...)
 |      D.copy() -> a shallow copy of D
 |
 |  get(self, key, default=None, /)
 |      Return the value for key if key is in the dictionary, else default.
 |
 |  items(...)
 |      D.items() -> a set-like object providing a view on D's items
 |
 |  keys(...)
 |      D.keys() -> a set-like object providing a view on D's keys
 |
 |  pop(...)
 |      D.pop(k[,d]) -> v, remove specified key and return the corresponding value.
 |      If key is not found, d is returned if given, otherwise KeyError is raised
 |
 |  popitem(self, /)
 |      Remove and return a (key, value) pair as a 2-tuple.
 |
 |      Pairs are returned in LIFO (last-in, first-out) order.
 |      Raises KeyError if the dict is empty.
 |
 |  setdefault(self, key, default=None, /)
 |      Insert key with a value of default if key is not in the dictionary.
 |
 |      Return the value for key if key is in the dictionary, else default.
 |
 |  update(...)
 |      D.update([E, ]**F) -> None.  Update D from dict/iterable E and F.
 |      If E is present and has a .keys() method, then does:  for k in E: D[k] = E[k]
 |      If E is present and lacks a .keys() method, then does:  for k, v in E: D[k] = v
 |      In either case, this is followed by: for k in F:  D[k] = F[k]
 |
 |  values(...)
 |      D.values() -> an object providing a view on D's values
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  fromkeys(iterable, value=None, /) from builtins.type
 |      Create a new dictionary with keys from iterable and values set to value.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

## 1. How to create Dictionaries?
- Dictionaries are another type of composite data types, and are also a collection of objects much like Lists and Tuples.
- Dictionaries are used to store elements in `key:value` pairs and created using curly braces. Each key-value pair is separated using comma. The key and value themselves are separated by a colon 
- Values can be heterogeneous, while keys can be int, string, or tuple. 
- Allows duplicate values but keys must be unique. 
- From Python version 3.7 onwards, dictionaries are ordered. - The items of a dictionary are not indexed like List and Tuples.

In [3]:
# A dictionary with string keys, and integer values, showing age of person
dict1 = {
    'arif':51, 
    'rauf':52, 
    'hadeed':20
}
dict1

{'arif': 51, 'rauf': 52, 'hadeed': 20}

In [4]:
# A dictionary with integer keys, and string values, showing a symbol table generated by compiler
dict2 = {
    2580:'var1', 
    2582:'var2', 
    2586:'var3'
}
dict2

{2580: 'var1', 2582: 'var2', 2586: 'var3'}

In [5]:
# dictionary with mixed keys
dict3 = {
    'name': 'kakamanna', 
    1: 10,
    'abc':25,
    33: 'xyz'
}
dict3

{'name': 'kakamanna', 1: 10, 'abc': 25, 33: 'xyz'}

In [6]:
# creating dictionary with values using dict()
dict4 = dict({1: 'hello', 2: 'bye'})
dict4

{1: 'hello', 2: 'bye'}

In [7]:
# Creating an empty dictionary
dict5 = dict()
dict5, type(dict5), id(dict5)

({}, dict, 140574598633920)

In [10]:
# other way to create empty dictionary
dict6 = {}
dict6, type(dict6)

({}, dict)

In [9]:
# A list of two object tuples can also be used to create dictionaries
dict7 = dict([('name', 'arif'), ('age',51), ('city', 'Lahore')])
dict7

{'name': 'arif', 'age': 51, 'city': 'Lahore'}

## 2. Proof of concepts

### a. Dictionary allows Duplicate Values

In [11]:
# Duplicate values are allowed
d1 = {'name1' : 'kakamanna',
     'name2' : 'kakamanna'
     }

### b. Dictionary DOESNOT allows Duplicate Keys

In [12]:
# Duplicate keys are not allowed
# This will not raise an error, but will overwrite the value corresponding to the key
d1 = {'name' : 'kakamanna',
     'name' : 'arif'
     }
d1

{'name': 'arif'}

### c. Keys inside Dictionaries Must be of Immutable data types
- The keys of a dictionary has to be of immutable data type (number, string, tuple)

In [28]:
# Tuple being immutable can be used as a key
d1 = {'nam':'kakamanna', 
      (60, 78, 83): 'marks' 
     }
d1

{'nam': 'kakamanna', (60, 78, 83): 'marks'}

In [13]:
# List being mutable cannot be used as a key
d1 = {'nam':'kakamanna', 
      [60, 78, 83]:'marks' 
     }
d1

TypeError: unhashable type: 'list'

### d. Values inside Dictionaies can be of mutable/immutable data type

In [14]:
# List being mutable can be used as a value
d1 = {'nam':'kakamanna', 
      'marks':[60,78,83] 
     }
d1

{'nam': 'kakamanna', 'marks': [60, 78, 83]}

In [15]:
# Tuple being immutable can also be used as a value
d1 = {'nam':'kakamanna', 
      'marks': (60,78,83) 
     }
d1

{'nam': 'kakamanna', 'marks': (60, 78, 83)}

### e. Dictionaries are heterogeneous
- The keys of a dictionary can be of integer, string, or tuple type
- The values of a dictionary can be of any data type

In [16]:
dict3 = {
    'name': 'kakamanna', 
    1: 10,
    'abc':25,
    33: 'xyz'
}
dict3

{'name': 'kakamanna', 1: 10, 'abc': 25, 33: 'xyz'}

### f. Dictionaries can be nested to arbitrary depth

In [17]:
# Creating a Nested Dictionary
dict7 = {'name':'arif', 
         'occupation':'teaching',
        'address':{'house#' : 131, 'area' : 'model town', 'city' : 'lahore'},
         'phone': '03214456454'
        }
 
dict7

{'name': 'arif',
 'occupation': 'teaching',
 'address': {'house#': 131, 'area': 'model town', 'city': 'lahore'},
 'phone': '03214456454'}

### g. Dictionaries from Python 3.7 onward are ordered
- From Python 3.7 onwards, dictionaries are guranteed to be in insertion ordered. i.e., every time you access dictionary elements they will show up in same sequence. 
- However, like string, list, and tuple, the elements of a dictionary are not associated by an index
- Moreover, two dictionaries having same key-value pairs are two different objects

In [68]:
d1 = {
    'arif':51, 
    'rauf':52, 
    'hadeed':20
}
d1
d2 = {
    'arif':51, 
    'rauf':52, 
    'hadeed':20
}
d2
d3 = {
    'rauf':52, 
    'hadeed':20,
    'arif':51
}
id(d1), id(d2), id(d3)

(140574599249408, 140574599223488, 140574599222848)

## 3. Accessing Elements of a Dictionary

In [69]:
# Create a simple dictionary for these operations
d1 = {
    'name':'kakamanna', 
    'age':22, 
    'address':'Johar Town', 
    'marks':[60, 75, 80]
}
d1

{'name': 'kakamanna',
 'age': 22,
 'address': 'Johar Town',
 'marks': [60, 75, 80]}

### a. Accessing Elements using `[]` Operator
- You can access the values of a dictionary by by giving its corresponding key inside `[]` operator

In [70]:
# You can access value associated with a key using [] brackets by mentioning the corresponding key inside
d1['address']
# However, you cannot access the key giving the value inside the [] brackets
#d1[22]

'Johar Town'

### b. Accessing Elements using `d1.get(key)`  method
- The `d1.get(key)` is passed the key as argument and it returns the value corresponding to that key

In [71]:
d1.get('marks')

[60, 75, 80]

In [72]:
d1.get('address')

'Johar Town'

### c. Accessing Elements using `d1.items()`  methods
- The `d1.items()` method returns all the key-value pairs of a dict as a two object tuple

In [73]:
d1.items()

dict_items([('name', 'kakamanna'), ('age', 22), ('address', 'Johar Town'), ('marks', [60, 75, 80])])

### d. Accessing Elements using `d1.keys()`  methods
- The `d1.keys()` method returns all the keys  of a dict object

In [74]:
# The dictionary method keys() returns all the keys of a dictionary
d1.keys()

dict_keys(['name', 'age', 'address', 'marks'])

### e. Accessing Elements using `d1.values()`  methods
- The `d1.values()` method returns all the values  of a dict object
- If a value occurs multiple times in the dictionary, it will appear that many times

In [75]:
d1.values()

dict_values(['kakamanna', 22, 'Johar Town', [60, 75, 80]])

In [76]:
#To access the value of a key in a nested directory, use indexing [] syntax
d2 = {'name':'arif', 
      'occupation':'teaching',
      'address':{'house#' : 131, 
                 'area' : 'model town', 
                 'city' : 'lahore'
                }
        }
d2
print("d2['name']: ", d2['name'])
print("d2['address']: ", d2['address'])
print("d2['address']['area']: ", d2['address']['area'])

d2['name']:  arif
d2['address']:  {'house#': 131, 'area': 'model town', 'city': 'lahore'}
d2['address']['area']:  model town

## 4. Adding/Modifying Elements in a Dictionary

In [77]:
# Create a simple dictionary for these operations
d1 = {
    'name':'kakamanna', 
    'age':22, 
    'address':'Johar Town', 
    'marks':[60, 75, 80]
}
d1

{'name': 'kakamanna',
 'age': 22,
 'address': 'Johar Town',
 'marks': [60, 75, 80]}

### a. Adding/Modifying Elements using `[]` Operator
- You can  modify value associated with a key using `[]` operator and assignment statement
- If the key donot already exist, a new key:value is inserted in the dictionary

In [78]:
# Modify value corresponding to an existing key
d1['address'] = 'Model Town'
d1

{'name': 'kakamanna',
 'age': 22,
 'address': 'Model Town',
 'marks': [60, 75, 80]}

In [79]:
# Adding a new key:value pair
d1['key1'] = 'value1'
d1

{'name': 'kakamanna',
 'age': 22,
 'address': 'Model Town',
 'marks': [60, 75, 80],
 'key1': 'value1'}

### b. Modifying Elements using `d1.update()` method 
- The `d1.update()` method is used to update the value corresponding to an existing key inside the dictionary
- If the key donot already exist, a new key:value is inserted in the dictionary

In [80]:
# Modify value corresponding to an existing key
d1.update({'name':'Arif Butt'})
d1

{'name': 'Arif Butt',
 'age': 22,
 'address': 'Model Town',
 'marks': [60, 75, 80],
 'key1': 'value1'}

In [81]:
# Adding a new key:value pair
d1.update({'key2':'value2'})
d1

{'name': 'Arif Butt',
 'age': 22,
 'address': 'Model Town',
 'marks': [60, 75, 80],
 'key1': 'value1',
 'key2': 'value2'}

In [82]:
# Create a simple dictionary for these operations
d1 = {
    'name':'kakamanna', 
    'age':22, 
    'address':'Johar Town', 
    'marks':[60, 75, 80]
}
d1

{'name': 'kakamanna',
 'age': 22,
 'address': 'Johar Town',
 'marks': [60, 75, 80]}

In [83]:
# You can also use update method to merge two dictionaries
d1 = {
    'name':'kakamanna', 
    'age':22, 
}
d1
d2 = {
    'address':'Johar Town', 
    'marks':[60, 75, 80]
}
d2

d1.update(d2)
d1

{'name': 'kakamanna',
 'age': 22,
 'address': 'Johar Town',
 'marks': [60, 75, 80]}

## 5. Removing Elements from a Dictionary

In [85]:
# Create a simple dictionary for these operations
d1 = {
    'name':'kakamanna', 
    'age':22, 
    'address':'Johar Town', 
    'marks':[60, 75, 80]
}
d1

{'name': 'kakamanna',
 'age': 22,
 'address': 'Johar Town',
 'marks': [60, 75, 80]}

### a. Removing Element using `[]` operator
- To delete a dictionary element use the `del d1[key]` 
- To delete an entire dictionary from memory use `del d1`

In [86]:
del d1['age']
d1

{'name': 'kakamanna', 'address': 'Johar Town', 'marks': [60, 75, 80]}

In [ ]:
#this will delete the whole directory
del d1
#print(d1)  # will generate an error now

### b. Removing Element using `d1.popitem()` Method
- The `d1.popitem()` removes and returns a (key,value) pair as a 2-tuple
- Pairs are returned in LIFO order, i.e., last inserted element is returned

In [93]:
d1 = {
    'name':'kakamanna', 
    'age':22, 
    'address':'Johar Town', 
    'marks':[60, 75, 80]
}
d1.popitem()

('marks', [60, 75, 80])

In [91]:
d1

{'name': 'kakamanna', 'age': 22, 'address': 'Johar Town'}

### c. Removing Element using `d1.pop(key)` Method
- The `d1.pop(key)` returns the value of the key passed as its required argument
- Moreover, the corresponding key-value pair is also removed from the dictionary
- If key is not found a KeyError is raised

In [98]:
d1 = {
    'name':'kakamanna', 
    'age':22, 
    'address':'Johar Town', 
    'marks':[60, 75, 80]
}

d1.pop('name')

'kakamanna'

In [99]:
d1

{'age': 22, 'address': 'Johar Town', 'marks': [60, 75, 80]}

In [100]:
#d1.pop('nokey') #This will raise an error

KeyError: 'nokey'

### d. Removing Element using `d1.clear()` Method
- The `d1.clear()` removes all items from the dictionary and returns None

In [103]:
d1 = {
    'name':'kakamanna', 
    'age':22, 
    'address':'Johar Town', 
    'marks':[60, 75, 80]
}

d1

{'name': 'kakamanna',
 'age': 22,
 'address': 'Johar Town',
 'marks': [60, 75, 80]}

In [104]:
d1.clear()

In [105]:
d1

{}

## 6. Dictionary, Tuple and List conversions

In [106]:
# Create a simple dictionary for these operations
d1 = {
    'Name': 'Kakamanna', 
    'Sex': 'Male', 
    'Age': 23, 
    'Height': 6.1, 
    'Occupation': 'Student'
}
print("Original directory: ", d1)
print("type(d1): ", type(d1))

Original directory:  {'Name': 'Kakamanna', 'Sex': 'Male', 'Age': 23, 'Height': 6.1, 'Occupation': 'Student'}
type(d1):  <class 'dict'>

In [107]:
#converting dictionary key-value pairs into tuple
t1 = tuple(d1.items())
print("\n", t1)
print(type(t1))

 (('Name', 'Kakamanna'), ('Sex', 'Male'), ('Age', 23), ('Height', 6.1), ('Occupation', 'Student'))
<class 'tuple'>

In [108]:
#converting dictionary keys only into tuple
t1 = tuple(d1.keys())
print("\n", t1)
print(type(t1))

 ('Name', 'Sex', 'Age', 'Height', 'Occupation')
<class 'tuple'>

In [109]:
#converting dictionary values only into list
mylist = list(d1.keys())
print("\n", mylist)
print(type(mylist))

 ['Name', 'Sex', 'Age', 'Height', 'Occupation']
<class 'list'>

## 7. Misc Dictionary methods

In [93]:
# Create a simple dictionary for these operations
d1 = {'name':'kakamanna', 
      'age':22, 
      'address':'Johar Town', 
      'marks':[60, 75, 80]
     }
print("Original directory: ", d1)

Original directory:  {'name': 'kakamanna', 'age': 22, 'address': 'Johar Town', 'marks': [60, 75, 80]}

In [95]:
# len() method returns the length of dictionary
len(d1)

4

In [110]:
# Membership operators
print ("\nage in d1 returns:  ", 'age' in d1)
print ("name not in d1 returns:  ", 'name' not in d1)
print ("city not in d1 returns:  ",'city' not in d1)

age in d1 returns:   False
name not in d1 returns:   True
city not in d1 returns:   True

## Check your Concepts

Try answering the following questions to test your understanding of the topics covered in this notebook:


1. What is a dictionary in Python?
2. How do you create a dictionary?
3. What are keys and values?
4. How do you access the value associated with a specific key in a dictionary?
5. What happens if you try to access the value for a key that doesn't exist in a dictionary?
6. What is the `.get` method of a dictionary used for?
7. How do you change the value associated with a key in a dictionary?
8. How do you add or remove a key-value pair in a dictionary?
9. How do you access the keys, values, and key-value pairs within a dictionary?