---   
 <img align="left" width="75" height="75"  src="https://upload.wikimedia.org/wikipedia/en/c/c8/University_of_the_Punjab_logo.png"> 

<h1 align="center">Department of Data Science</h1>
<h1 align="center">Course: Tools and Techniques for Data Science</h1>

---
<h3><div align="right">Instructor: Muhammad Arif Butt, Ph.D.</div></h3>

<h1 align="center">Lecture 2.3</h1>

## _numbers.ipynb_
#### [Click me to learn more about Python numbers](https://www.w3schools.com/python/python_numbers.asp)

### Learning agenda of this notebook
1. Python Numeric and Bool data types
2. Issues with Float data type
3. Conversiton / Type Casting

### 1. Numeric and Bool Data Types
It is equipped with support for several types of numbers, along with utilities for performing computations on them.
- **Integers:** The integer data type is comprised of all the positive and negative whole numbers. It is immutable and created through numeric literals and output of arithmetic expressions and functions that return numeric values. In Python 2.x there are two types int and long. But in Python 3.x, there is only one type int having unlimited range subject to available memory 
- **Floating Point Numbers:** Floating-point numbers, or floats, refer to positive and negative decimal numbers.These represent machine level double precision floating point numbers. The decimal digits are faithful upto fifteen decimal places. The range in most environment is -1.7976931348623157e+308 to 1.7976931348623157e+308
- **Complex Numbers:** These represent complex numbers as a pair of machine level double precision floating point numbers. One floating point number represent the real part and another floating point number represent the imaginary part
- **Boolean:** Also known as bool data type allows us to choose between two values: true and false. A Boolean is used to determine whether the logic of an expression or a comparison is correct. It plays a huge role in data comparisons.

In [1]:
w = 10
x = 20.5
y = complex(3, 2)  # y = 3 + 2j
z = True
print(type(w))
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'bool'>

In [2]:
# Example of Boolean data type 
y = 10 < 100
print(y)
print(type(y))

True
<class 'bool'>

In [3]:
"""
boolean data type in Python?
In Python, True represents the value as 1 and False as 0. 
"""

x = (-1 == True)
y = (1 == False)
a = True + 9
b = False + 15

print("x is", x)
print("y is", y)
print("a:", a)
print("b:", b)

x is False
y is False
a: 10
b: 15

### 2. Issues with Float data types

In [49]:
'''
Floating-point numbers are stored in computer hardware in IEEE-754 format
Be watchful while performing various operations on floating point numbers
'''
a = 3.3
b = 1.1 + 2.2
c = (a == b)
a, b, c

(3.3, 3.3000000000000003, False)

### 3. Conversion/Type Casting
Type conversion refers to the conversion of an object from one data type to another

#### a. Convert to Integer using  int (a, base) function

In [5]:
x = '21'
type(x), x

str

In [6]:
y = int(x)
type(y), y

(int, 21)

In [7]:
z = int(x,8)
type(z), z

(int, 17)

In [28]:
# You can also use hex() and oct() functions
print(hex(21))
print(oct(21))

0x15
0o25

#### b. Convert to Float  using  float (a) function

In [17]:
a = 54
type(a), a

(int, 54)

In [18]:
b = float(a)
type(b), b

(float, 54.0)

In [19]:
# Note that a and be are two different objects
id(a), id(b)

(4387774816, 140459832539728)

#### c. Convert an Integer to a String  using  str (a) function

In [23]:
num = 341
type(num), num

(int, 341)

In [24]:
mystr = str(num)
type(mystr), mystr

(str, '341')

#### d. Convert two Floats to Complex Data type  using  complex (a, b) function

In [31]:
a = 2.6
b = 3.2
x = complex(a,b)
type(x), x

(complex, (2.6+3.2j))

In [7]:
1.1 + 2.2

3.3000000000000003